* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  background-color: #666;
  color: white;
  padding: 30px 0;
}

header {
  background-color: #ccc;
  padding: 20px 0;
}

main {
  flex: 1;
  padding: 20px 0;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

a {
  color: inherit;
  text-decoration: none;
}

.y-navs {
  display: flex;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}